@media screen and (max-width:760px) {
    menu-content {
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    h1 {
        font-size: 38px;
    }
    h2{
        font-size: 38px;
    }
    img {
        display: none;
    }
    ul {
        text-align: center;
    }
}